@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    --primary-color: #E30808;
}

body {
    background: #FFFFFF;
    margin: 0;
    font-family: 'Poppins';
}

.navbar{
    background: white;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color:black;
        font-size: 1.2em;
        span{
            color: var(--primary-color);
        }
    }

    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }
}

a {
    color: #000000;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.mid-col{
    .subhead{
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: Bold;
    letter-spacing: .2em;
    }

    h1{
        font-size: 1.3em;
        line-height: 1.3em;
        color: gray;
        margin-top: 0.2em;
    }
}

.hero-img{
    width: 60%;
    margin-top: 3em;
}

ul.features-list{
    margin: 0;
    text-align:center;
    background: #01CEF8;
    padding-top: 1.3em;
    li{
        font-size: 1em;
    };
    
}

.features1-section{
    width: 5em;
    height: 5em;
}
.features1-section img{
    margin: 0;
    text-align: center;
    display: none;
}

input[type="submit"]{
    background-color: blue;
}

iframe{
    width: 500%;
    height: 400px;
}